BOT_CONTAINER_NAME=bot_container_name
BOT_IMAGE_NAME=botimage_name
BOT_NAME=@EyeCalorie_bot
BOT_TOKEN=8612062290:AAGMgj5h4NHECSN4M-0eY08mbQ_rVriZQ1w
ADMINS=663770655,991508259
USE_REDIS=False

DB_USER=exampleDBUserName
PG_PASSWORD=examplePostgresPass
DB_PASS=exampleDBPassword
DB_NAME=exampleDBName
DB_HOST=127.0.0.1

GEMINI_API_KEY=AIzaSyDfi2GDeNKIhtxZMh9s754-GoGWc8HhO7M

DONATELLO_API_KEY=cca0006b3e27fe3233d5fa85c5e7c60c

WAYFORPAY_MERCHANT=donatello_to83
WAYFORPAY_SECRET=6f7196eb83e55bc6a3ee2efad39a1863bd39c8c2

NGROK_AUTHTOKEN=3AezA9MZRdCMlPnl1erE4b0lf6V_3aa3vdsJM1EEZNvGSws4o